[2012-10-24 04:48] slinlee opened #1 "gem file"
let other developers run some shit

[2012-10-24 04:51] slinlee opened #2 "visual design"
make it PR sexy

[2012-10-24 04:52] andrewdanks opened #3 "color code the route trail"
make the trail in the map correspond to the colors in the timeline

[2012-10-24 05:38] epan opened #4 "Play position indicator"
Should have an indicator to show where in the route the current streetview is. Sync with indicator on the route in Map view.

[2012-10-24 05:39] epan opened #5 "Interaction with timeline"
If you click on a part of the timeline it will jump to that position in the route and in streetview.

[2012-10-24 05:40] epan opened #6 "Start query with Map as the main view"
Show Map view larger than the street view when route is first calculated.

[2012-10-24 05:41] epan opened #7 "Toggle the Map and Streetview sizes"
Map » Streetview when press play.
Use toggle button (TBD).

[2012-10-24 07:59] epan opened #8 "Landing Page"
What a person will see if they first come to the site.

Should have
- Brand
- Brief feature description
- Inputs to get started

[2012-10-24 07:59] slinlee opened #9 "name of street on timeline"
show name of street on timeline

[2012-10-24 07:59] slinlee opened #10 "turn icons on timeline"
show turn icons on timeline

[2012-10-24 08:00] epan opened #11 "Feature Explanations [Design]"
- Drag the route to adjust.
- Click on the timeline to jump.
- Press play to preview the route.

[2012-10-24 08:00] slinlee opened #12 "show giant turn graphics on street view when about to do a turn"

[2012-10-24 08:01] epan opened #13 "Toggle Map and Streetview"
A way to let the user toggle between Map and Streetview.

[2012-10-24 08:02] slinlee opened #14 "Show list of directions"
Show the directions in a list somewhere.

[2012-10-24 08:03] slinlee opened #15 "Show distance of route"
Show the overall distance of a route

[2012-10-24 08:06] slinlee opened #16 "Show estimated time of route"

[2012-10-24 08:13] slinlee opened #17 "smooth out large jumps on route during tour."
When going down a street a few blocks, the directions seem to jump a lot of distance each step, which is disorienting. Maybe we can add intermediate steps.

[2012-10-24 08:42] #1 closed, assigned to ericxtang

[2012-10-24 08:43] #2 closed, assigned to epan

[2012-10-24 08:52] epan opened #18 "Get this shit ONLINE"

[2012-10-24 08:52] epan opened #19 "Need a Name"

[2012-10-24 08:55] epan opened #20 "Set up a mailing list/FB Page/Twitter account"

[2012-10-24 20:07] andrewdanks commented on #8
Need to keep it very minimal.

Logo, One line caption, Origin field, Destination field, Go button, and perhaps some "teaser" picture to show what the app would look like.

Perhaps auto fill origin field with their current location.

[2012-10-24 20:27] epan commented on #8
Good idea on the origin field with the current location! How do I attach images here? http://cl.ly/image/0N0U1p090U1F

[2012-10-24 20:28] epan commented on #8
@kmiyashiro @dhchow @ericxtang @slinlee what do you guys think of this wireframe? We can slot in 3 images of the final UI illustrating each feature: http://cl.ly/image/0N0U1p090U1F

[2012-10-24 20:43] slinlee commented on #8
Sounds good. What goes under 'Make it easy as pie'?

On Wed, Oct 24, 2012 at 1:28 PM, Eric Pan notifications@github.com wrote:

[2012-10-24 21:29] dhchow commented on #8
Looks good to me!

[2012-10-24 21:37] epan commented on #8
Under there is the idea that you can modify the route itself.

I had other lines of text but they were long. "Make it easygoing" etc.
Obviously totally open to suggestions for text and anything.

On Wed, Oct 24, 2012 at 1:43 PM, slinlee notifications@github.com wrote:

##

Eric

[2012-10-24 22:00] kmiyashiro commented on #8
I like it. I'm not sure if it's just the wireframe limitations, but it
seems really busy, I didn't see the start/end bar at first. I think it will
look better on a page.

On Wed, Oct 24, 2012 at 2:37 PM, Eric Pan notifications@github.com wrote:

[2012-10-24 22:24] andrewdanks commented on #8
Good caption!
- Just "Visualize route safety" should be sufficient, since we already convey it's about bikes in the caption, right?
- What about "Adjust it to your skill level" ? or is it too long?
- "Play it in realtime" ?

All together:  Visualize route safety. Adjust to your skill level. Play it in real time.

Still needs some work, either way. But the actual wording isn't as important as the d

[2012-10-24 22:28] andrewdanks commented on #8
And if we get the origin location automatically, maybe we should focus the destination field, so it's more like:

Where to?

 < origin location here >      <--- this is less focused, but emphasized that it can be edited

< destination text field >   <-- this part is focused

[ Route me!]

lol, my ascii mockups don't come close to what you have :P

[2012-10-24 22:57] andrewdanks commented on #16
this can be calculated just in the frontend pretty easily.

need a mockup of how this should be presented

[2012-10-24 23:03] andrewdanks commented on #9
Hmm, if I remember correctly, the google API doesn't explicitly give the street name; they embed it in the directions string, which seems a little silly

Of course, we could use regex to strip it out, since the directions seemed to be of the form ".... onto <STREET NAME>". But this seems hacky and fragile. Is there another way, without making a service call to the backend?

[2012-10-24 23:05] andrewdanks commented on #14
This is a great idea. Maybe this should be in some inspector-like semi-transparent popover window, that can be opened by a button/icon somewhere, so we don't display so much information at once in the UI

[2012-10-24 23:12] epan commented on #16
trip distance and time should be provided by google api

On Wed, Oct 24, 2012 at 3:57 PM, Andrew Danks notifications@github.comwrote:

##

Eric

[2012-10-25 00:44] vickiheart commented on #5
Missed first part of discussion so let me know if this is already obvious or answered:

Can someone explain the bottom green bar to me? Seems to be turn by turn distance, but I don't understand the green vs. white. One idea is to label the portions as someone would think of the directions in their mind: 17th to Market to Franklin.

Also, I think it would be great to display this as a line indicati

[2012-10-25 00:59] kmiyashiro commented on #5
It's supposed to be a timeline and the green represents how safe it is. Mo green == mo safe. Direction labels are in another issue I think. Having an elevation vis is something we thought of, but I think the line-chart isn't captured anywhere.

[2012-10-25 01:00] epan commented on #5
I'll add the issue

On Wed, Oct 24, 2012 at 5:59 PM, Kelly Miyashiro
notifications@github.comwrote:

##

Eric

[2012-10-25 01:00] epan opened #21 "Show elevation line plot in timeline"
Here is one example of an implementation: http://graphicsweb.wsj.com/documents/MARATHONS2010/info-MARATHONS2010.php

[2012-10-25 01:01] kmiyashiro commented on #9
This should be easy to do since each segment is already linked to a particular step in the directions. Matching up the steps to the timeline is just a 1:1 zip.

[2012-10-25 01:17] vickiheart opened #22 "Add option to precache all the images so the animation is smoother"

[2012-10-25 01:18] vickiheart opened #23 "Add an overlay (arrow pointing to the left or right) before turns, and also slow down the playback before those turns"
Sorry, realized this was already an issue.

[2012-10-25 02:02] #23 closed, assigned to nobody

[2012-10-25 04:38] epan commented on #15
Visualization under the map area: http://cl.ly/image/3L3p3E0u021L

[2012-10-25 04:39] epan commented on #16
Suggested visualization under the map area: http://cl.ly/image/3L3p3E0u021L

[2012-10-25 04:39] epan opened #24 "Include Analytics"
Google analytics to start with

[2012-10-25 04:42] epan commented on #14
Have the button "List" under the map open a new window to show directions of the current route.

See wireframe: http://cl.ly/image/3L3p3E0u021L

[2012-10-25 04:46] epan opened #25 "Prettify the current segment indicator"
Can we try a nicer way to show which segment the user is on other than the red border?

Kelly suggested an inner glow.
If not clear enough, maybe we can do a border-top or something else.
Ideas welcome!

[2012-10-25 05:23] kmiyashiro opened #26 "Unit tests for JS"

[2012-10-25 05:24] kmiyashiro opened #27 "Setup grunt"
JSHint, Recess/LESS, mocha. Use for builds.

[2012-10-25 05:24] kmiyashiro opened #28 "add package.json"
for grunt

[2012-10-25 05:24] kmiyashiro opened #29 "add sublime project"
consistent tabs, etc

[2012-10-25 05:46] dhchow commented on #16
Just added labels for this info that pop up on the top left. Feel free to be like "move that shit"

[2012-10-25 05:46] #16 closed, assigned to dhchow

[2012-10-25 05:48] #15 closed, assigned to dhchow

[2012-10-25 05:52] #5 closed, assigned to ericxtang

[2012-10-25 06:03] dhchow commented on #14
Testing images

![Test image](http://cl.ly/image/3L3p3E0u021L/Screen%20Shot%202012-10-24%20at%209.37.01%20PM.png)

[2012-10-25 06:33] epan commented on #8
Added images to the wireframe!

![wireframe landing page with images](http://cl.ly/image/332m3S3F3E04/Screen%20Shot%202012-10-24%20at%2011.26.40%20PM.png)

[2012-10-25 06:41] epan commented on #8
Some alternative concepts
![](http://cl.ly/image/2U4333363o3J/Screen%20Shot%202012-10-24%20at%2011.36.57%20PM.png)
![](http://cl.ly/image/2q381h0d1d1b/Screen%20Shot%202012-10-24%20at%2011.39.21%20PM.png)
![](http://cl.ly/image/173b2q1B1T34/Screen%20Shot%202012-10-24%20at%2011.40.53%20PM.png)
@kmiyashiro

[2012-10-25 07:02] #18 closed, assigned to nobody

[2012-10-25 07:15] epan commented on #19
Look what @vickiheart did guys!
![sketch 1](http://cl.ly/image/1r2J3u052n38/photo%201.JPG)
![sketch 2](http://cl.ly/image/3I402z1z180t/photo%202.JPG)
![sketch 3](http://cl.ly/image/3z150k3W1T2C/photo%203.JPG)
![sketch 4](http://cl.ly/image/3V1r2f0I3u1M/photo%204.JPG)
cc: @kmiyashiro @andrewdanks @dhchow @ericxtang

What about trying the shape of the wiggle for the W? I like putting a bike in there

[2012-10-25 07:31] epan commented on #19
You guys, this is tough!
![PRO-CON](http://cl.ly/image/3C1x0s0P0w0v/Screen%20Shot%202012-10-25%20at%2012.29.42%20AM.png)
@kmiyashiro @dhchow @ericxtang @andrewdanks @slinlee
VOTE?

[2012-10-25 07:34] andrewdanks commented on #19
Tough one. I like both, but if I had a gun to my head, I'd pick wiggl.me

[2012-10-25 07:41] kmiyashiro commented on #19
I like wiggle with e, any variation.

On Thu, Oct 25, 2012 at 12:34 AM, Andrew Danks notifications@github.comwrote:

[2012-10-25 08:05] #24 closed, assigned to ericxtang

[2012-10-25 08:08] dhchow commented on #14
Done! No elevation just yet though. That summary data doesn't seem to be readily available.

[2012-10-25 08:08] #14 closed, assigned to dhchow

[2012-10-25 08:34] epan commented on #14
I think Andrew did some code for elevation but I'm not 100% sure it works
or where it is.

On Thu, Oct 25, 2012 at 1:08 AM, Diana C notifications@github.com wrote:

[2012-10-25 09:05] andrewdanks commented on #14
It works.

I just added the "ft climb" metric to the route info. However, this won't be shown right away because calculating the total climb requires a service call; so it'll show 0 initially, and show the correct value a few seconds later.

Also, I'm not sure if we want to show min(0, total climb)  or allow negatives. For now, I allowed negatives.

[2012-10-25 09:51] epan opened #30 "Turn off scroll to zoom on Google Map"
I think this usually gets more accidental bad surprise than benefit, what do you guys think?

[2012-10-25 10:35] epan commented on #14
Does this return the climb - descent or does it sum up all the climbs?
Negative is fine.

On Thu, Oct 25, 2012 at 2:05 AM, Andrew Danks notifications@github.comwrote:

##

Eric

[2012-10-25 16:41] slinlee opened #31 "Rate climbing or grades in easy to understand categories"
climbing 500 ft or 4% grade is hard to understand. Lets name them in cute ways to describe the 'effort' needed

[2012-10-25 18:34] epan commented on #31
True. Can you come up with something?

(mobile)

On Oct 25, 2012, at 9:41 AM, slinlee notifications@github.com wrote:

[2012-10-25 19:27] epan opened #32 "Let users share a link to a route"

[2012-10-25 19:38] epan opened #33 "Social buttons: Like, Tweet"
Put on homepage
![social buttons on home page](http://cl.ly/image/140H2O16301W/Screen%20Shot%202012-10-29%20at%2011.13.27%20AM.png)

On app page
![social buttons on app page](http://cl.ly/image/0c2Y0d383S19/Screen%20Shot%202012-10-29%20at%2011.08.44%20AM.png)

**Facebook Instructions**
1. Include the JavaScript SDK on your page once, ideally right after the opening body tag.

[code]
1. Place the c

[2012-10-25 19:41] slinlee commented on #33
Yeah, include it on app page as well.

encourage it in the flow.

On Oct 25, 2012, at 12:38 PM, Eric Pan notifications@github.com wrote:

[2012-10-26 01:14] epan commented on #25
Another idea is to have current segment a little taller than the others. Check out this example: http://www.directr.co/movie/5fm9w

How hard is that @kmiyashiro @dhchow ?

I was thinking inner glow would get difficult to see when the segments are thin. And this example could also be the effect for hover.

[2012-10-26 01:33] kmiyashiro commented on #25
ez

On Thu, Oct 25, 2012 at 6:14 PM, Eric Pan notifications@github.com wrote:

[2012-10-26 01:41] vickiheart commented on #19
Another option is wggle.com, which domainr says "possibly available"
Not sure what that means. And not sure how I feel about the lack of vowels. Although that seems to be the trend (flickr, rdio, etc)

[2012-10-26 01:43] andrewdanks commented on #19
According to http://whois.domaintools.com/wggle.com, it's taken

[2012-10-26 01:46] vickiheart commented on #19
wggle.co
wggle.io

[2012-10-26 01:57] andrewdanks commented on #14
The service call returns a list of numbers representing the change in elevations for each segment in the route, since we were going to integrate this with the timeline somehow, so I just summed up the deltas, which is the overall change in elevation, right?

Although, if we're just taking the difference in elevation between the start and end points, it'll be more efficient just to calculate just t

[2012-10-26 08:03] kmiyashiro opened #34 "Transfer repo to Org 'cogsci'"
Hey Andrew, we created an org so we look like a group. Can you transfer the repo to the org 'cogsci' (might change the name later)?

[2012-10-26 08:27] epan commented on #19
I don't like dropping the "i" in wiggle since it is so instructive towards how to read it aloud. without it, it could be "waggle, wiggle, wuggle, woggle…" etc

Found some variations at www.namecheap.com which has a pretty decent search tool:
![domain and prices](http://cl.ly/image/2m01173P2N3t/Screen%20Shot%202012-10-26%20at%201.25.05%20AM.png)
heywiggle.com
hellowiggle.com
hiwiggle.com
wigglme.co

[2012-10-26 08:32] epan commented on #19
@slinlee what do you think?

[2012-10-26 08:44] epan commented on #19
wigglem.com is available hahahaha

[2012-10-26 15:58] andrewdanks commented on #34
it says I can only transfer it to a repo I'm an admin of

[2012-10-26 18:36] dhchow commented on #25
Yeah should be pretty straightforward. I'll play around with this tonight.

[2012-10-26 18:45] dhchow commented on #14
Yeah summing up the deltas gives overall change in elevation. Though I
wonder what's more useful for this situation, overall change or max
change/delta? A steep hill in the middle of the route that brings me back
to my original elevation is still a tough ride.

Definitely would be helpful to mark at least the greatest delta point of
the route, on the timeline, or on the map (if not all of the data

[2012-10-26 18:45] kmiyashiro commented on #25
I actually did this this morning :)

On Fri, Oct 26, 2012 at 11:36 AM, Diana C notifications@github.com wrote:

[2012-10-26 18:46] slinlee commented on #14
grade % is more descriptive than elevation gain, and creating our own scale/rating is even better. I still don't know if 200ft gain is strenuous or not.

On Oct 26, 2012, at 11:45 AM, Diana C notifications@github.com wrote:

[2012-10-26 18:50] dhchow opened #35 "Show elevation data"
Not clear as to how this will look, but I think it'd be useful to at least show the area of greatest elevation delta on the timeline/map/both. That way the person can anticipate where the "toughest" climb is before they head out.

Of course, showing all of the elevation data we have would also be helpful, though I'm not sure how much more helpful it will be. Depends if people really care about the

[2012-10-26 18:53] dhchow commented on #14
Yeah, having our own scale/rating is a good idea. I (as a non-biker) have
no idea what #'s of ft gain really mean.

Created a new issue for this (for later, outside of milestone):
https://github.com/andrewdanks/reroute/issues/35

On Fri, Oct 26, 2012 at 11:46 AM, slinlee notifications@github.com wrote:

[2012-10-26 18:53] dhchow commented on #25
Sweet! Does this mean you're quitting your job :)

On Fri, Oct 26, 2012 at 11:45 AM, Kelly Miyashiro
notifications@github.comwrote:

[2012-10-26 18:58] slinlee opened #36 "Suggest fun destinations that are within a users current comfort zone"
sometimes a user might not be comfortable riding far enough to  commute, but they want to do shorter trips to build that confidence. Suggest closer destinations (coffee, parks, festivals, dinner) based on a filter like, "2 miles or less. 20 minutes or less".

Possible sponsorship opportunity.

[2012-10-26 19:00] andrewdanks commented on #14
Hmm, this is a really good point. Numbers don't always mean much.

I wonder if the grade should be based on a average of the ∆elevation/∆distance over all the segments in the route?

But then we also have the issue of determining what's "high" and what's "low"

[2012-10-26 19:00] slinlee opened #37 "Include speed of cars on road as part of the diana score"
higher speeds x non-separated bike lanes = fear. fear leads to non-riding... :(

[2012-10-26 19:01] kmiyashiro commented on #25
Work starts at 11! I work on other stuff in the morning.

On Fri, Oct 26, 2012 at 11:53 AM, Diana C notifications@github.com wrote:

[2012-10-26 19:04] slinlee commented on #14
I'll find a rating scale. I remember reading how each % increase made a pretty big difference in how many people were willing to ride

[2012-10-26 19:04] slinlee opened #38 "Create rating scale for 'steepness' effort for rides"

[2012-10-26 19:08] andrewdanks commented on #14
Wow, if you could find it, that'd be awesome!

[2012-10-26 22:07] kmiyashiro commented on #34
Admined!

[2012-10-26 22:16] epan commented on #19
Ok guys, I went ahead with www.wiggl.me :)

[2012-10-26 22:17] epan commented on #19
Still need a logo though and so if @vickiheart is interested in helping us narrow down, it's still assigned to her and I'll leave it open and move it to Later milestone now.

[2012-10-26 22:17] epan commented on #34
:+1:

[2012-10-26 22:20] epan opened #39 "Transfer the app to wigglemap.com domain"
I sent you credentials in email @ericxtang :)

[2012-10-26 23:00] vickiheart commented on #19
@epan Still interested but I have no illustrator skillz. I'll continue working on it this weekend :) Are we doing a meetup?

yay for wiggl.me!

[2012-10-27 02:23] #20 closed, assigned to epan

[2012-10-27 17:01] epan opened #40 "Indicate when there is no safety data"
If someone searches for a route that has partial or completely missing safety data, we should find a way to let them know.

[2012-10-27 18:10] #25 closed, assigned to kmiyashiro

[2012-10-27 18:45] epan commented on #21
Comment from @dhchow:

Not clear as to how this will look, but I think it'd be useful to at least show the area of greatest elevation delta on the timeline/map/both. That way the person can anticipate where the "toughest" climb is before they head out.

Of course, showing all of the elevation data we have would also be helpful, though I'm not sure how much more helpful it will be. Depends if peopl

[2012-10-27 18:46] epan commented on #35
Good ideas! I'm thinking this is a duplicate of https://github.com/andrewdanks/reroute/issues/21 and if you agree, go ahead and close it, otherwise, feel free to clarify. Thanks Diana!

[2012-10-27 19:03] slinlee commented on #21
imagine the strava type elevation plot. if it's directly on the timeline,
users can drag to reroute around that.

On Sat, Oct 27, 2012 at 2:45 PM, Eric Pan notifications@github.com wrote:

[2012-10-27 19:07] epan opened #41 "Streetview disappears without returning"
1. Enter the route A: 1511 33rd Ave 94122 to B: 222 Kearny St 94108
2. Go to start of Kezar St. section
3. Play the streeview.
4. When the streetview is supposed to go through the park, it drops.
5. When it exits onto Page St. it never returns.

Just realizing now that without the yellow streetview man, we also don't know where the play position is.

[2012-10-27 19:19] epan commented on #8
Hey @kmiyashiro can we use a different effect without the bar on the bottom for the background image, like:

[code]

Maybe even the top will look ok with white text for the title? And I'm using the name WiggleMap everywhere :P

[2012-10-28 00:44] #34 closed, assigned to andrewdanks

[2012-10-28 00:44] #39 closed, assigned to ericxtang

[2012-10-28 01:05] epan opened #42 "User-user interaction method"
What is a good way to let the community interact with each other? They might want to compare routes (if they could share a link to one @andrewdanks _wink wink_) or chat about where to park, what locks to get, or whatever. A Q&A for the brand new and recently-new to help each other.

Could be FB? Forum? Something else?

[2012-10-28 01:16] epan commented on #21
Check out this example from google on elevation on a route in SF:
http://www.morethanamap.com/demos/routing/elevation

@dhchow @slinlee

[2012-10-28 03:29] kmiyashiro commented on #41
mmm... yeah, need to check to see if streetview is active every time we change coordinates.

[2012-10-28 03:29] kmiyashiro commented on #19
We have a name! Close?

[2012-10-28 03:31] kmiyashiro commented on #8
TODO: Create cute tiled graphic for bottom when blank.

Wiggle path? Sharrow?

[2012-10-28 03:45] andrewdanks commented on #19
For a super short domain, wigl.me is available.

[2012-10-28 04:52] epan commented on #19
Yes I thought I closed it?

I bought and have wiggl.me for a whole year if we want to use that :)

On Oct 27, 2012, at 8:45 PM, Andrew Danks notifications@github.com wrote:

[2012-10-29 01:27] kmiyashiro commented on #8
https://www.dropbox.com/s/wc9yrrzreqopff4/new%20landing.png

[2012-10-29 05:51] dhchow commented on #35
Yup! Looks like a duplicate. Closing.

[2012-10-29 05:51] #35 closed, assigned to nobody

[2012-10-29 16:33] vickiheart opened #43 "Page isn't loading right in Chrome on Macbook Air?"
Hi guys, when I load wigglemap.com on chrome on my air it doesn't show the whole page unless I zoom out a lot. I don't see the start / end and etc.

[2012-10-29 16:52] slinlee opened #44 "entering new address and submitting form makes the page jump down a little"
On chrome on osx, submitting the form either by keyboard or mouse makes the form shift down the page for a second.

[2012-10-29 17:59] epan opened #45 "Prettify the App Page"
Moved discussion and task list for this issue to Hackpad for collaboration: https://hackpad.com/Y3jja4y8lAx#Prettify-wigglemap

Current App
![Current App @ 640](http://cl.ly/image/0Y1b2L2C1k2F/Screen%20Shot%202012-10-29%20at%2010.53.02%20AM.png)

Updated UI (Work in Progress)
![Updated UI WIP](http://cl.ly/image/3n0Y0n0G0k1k/Screen%20Shot%202012-10-29%20at%2010.54.20%20AM.png)

[2012-10-29 22:30] slinlee commented on #31
I added a description of what is considered "hard" on the hackpad. tl;dr:
0-5% is okay for everyone. 5-10% and non-sport riders will be discouraged. 10%+ and it's no fun.
So I suggest using that to match up to our three levels of coloring.

[2012-10-29 23:46] slinlee opened #46 ""play/next" buttons are clickable on landing page"
The buttons are hidden, but can still be clicked, which manipulates the live map background.

[2012-10-29 23:47] slinlee opened #47 "Timeline meaning isn't intuitive"
This could be split in to a few different issues, but it's hard to see the connection between the timeline and 1) the map, 2) the list of directions, 3) safety of route.

[2012-10-30 19:37] epan opened #48 "Stop "/index.html" from showing"
When you go to "wigglemap.com" it shows "wigglemap.com/index.html"

Can we have it not show the index.html?

[2012-10-30 20:26] slinlee commented on #19
Taking WiggleMap as the name. I'll open a new issue for a logo?

[2012-10-30 20:26] #19 closed, assigned to epan

[2012-10-30 20:26] slinlee opened #49 "Need logo design"
Need a design for our logo.

[2012-10-30 20:30] andrewdanks commented on #48
I can do this

[2012-10-30 20:31] epan commented on #48
Thanks @andrewdanks I hope you're feeling better!

[2012-10-30 21:08] slinlee commented on #45
I added some of the spec'd styling on to the secondary view container.

[2012-10-30 21:21] slinlee commented on #45
Made the 'Find a route' button large size, which matches the height of the input fields. It's not orange though.

[2012-10-30 23:19] slinlee opened #50 "Add 'A' and 'B' to timeline"
Helps connect the timeline to the map and list of instructions

[2012-10-30 23:27] epan commented on #50
I wonder if a play position indicator will be most useful for this

On Tue, Oct 30, 2012 at 4:19 PM, slinlee notifications@github.com wrote:

##

Eric

[2012-10-30 23:28] slinlee commented on #50
Both, please :)

On Oct 30, 2012, at 4:27 PM, Eric Pan notifications@github.com wrote:

[2012-10-30 23:44] epan commented on #50
I remember hearing that play position indicator was non-trivial. Do we need
a design for it?

On Tue, Oct 30, 2012 at 4:28 PM, slinlee notifications@github.com wrote:

##

Eric

[2012-10-30 23:50] slinlee commented on #50
If it's just to add a graphic on the timeline, it shouldn't be much harder than adding more styling to the 'selected' section. It's not the best solution, but it will show you where you are.

On Oct 30, 2012, at 4:27 PM, Eric Pan notifications@github.com wrote:

[2012-10-31 00:00] epan opened #51 "Legal/Disclaimer/Terms of Service?"
Should we have some?
http://www.google.com/intl/en_us/help/terms_maps.html

Some excerpts:
(a) Map data, traffic, directions, and related Content are provided for planning purposes only. You may find that weather conditions, construction projects, closures, or other events may cause road conditions or directions to differ from the map results. You should exercise judgment in your use of this Conte

[2012-10-31 00:27] epan commented on #45
Moved discussion and task list for this issue to Hackpad for collaboration: https://hackpad.com/Y3jja4y8lAx#Prettify-wigglemap

[2012-10-31 01:08] epan opened #52 "Facebook info when sharing should be improved"
See the Open Graph meta tags info
- https://developers.facebook.com/docs/reference/plugins/like/
- https://developers.facebook.com/docs/opengraphprotocol/

Using www.wigglemap.com/index.html
![example of sharing the www.wigglemap.com/index.html on facebook](http://cl.ly/image/0X0j1Q1I1S0K/Screen%20Shot%202012-10-30%20at%206.01.26%20PM.png)

Using www.wigglemap.com
![example of sharing the www.wigg

[2012-10-31 02:40] epan opened #53 "Joyride guided tour for the app page"
http://www.zurb.com/playground/jquery-joyride-feature-tour-plugin

Would be nice!

[2012-10-31 03:08] kmiyashiro opened #54 "Add fontawesome font"
The actual font is missing from the repo

[2012-10-31 03:11] kmiyashiro commented on #53
For which features? What will they say?

[2012-10-31 03:43] epan opened #55 "Improve the results for turn-by-turn directions list"
Maybe we should send the results to google or restyle this list or consider a modal overlay?

![screenshot of turn by turn list](http://cl.ly/image/2b2V1P2T3u1P/Screen%20Shot%202012-10-30%20at%208.42.33%20PM.png)

[2012-10-31 04:01] epan commented on #53
Best bang for buck is probably timeline + playback controls. It's our
differentiator and core to the value prop, simple to explain.

Next is probably adjusting the route and seeing the timeline change. It's a
bit more advanced and harder to explain but also core to value prop in
tailoring your own route.

I think the inset display (streetview or map view) is one of our weaker
feature right now.

A

[2012-10-31 04:03] slinlee commented on #55
i recommend putting it inline/overlay, and restyling.

On Oct 30, 2012, at 8:43 PM, Eric Pan notifications@github.com wrote:

[2012-10-31 04:31] slinlee opened #56 "Add joyride first run experience tour"

[2012-10-31 05:18] #48 closed, assigned to andrewdanks

[2012-10-31 05:21] andrewdanks opened #57 "Title and caption need to be aligned"
Need to fix the alignment of the title and caption:

![](http://i.imgur.com/knPqz.png)

[2012-10-31 05:40] epan commented on #57
It's more important that the caption and the inputs are aligned to each other. The bigger question is should the caption and inputs be in the center or always left-aligned?

[2012-10-31 05:43] slinlee commented on #56
Need to clean up the tour steps. Right now it's really rough.

[2012-10-31 05:47] slinlee opened #58 "Integrate list of directions in to main app"
I think this is pretty important for getting a feeling for a route, and then later using it to actually go there.

[2012-10-31 05:55] #57 closed, assigned to kmiyashiro

[2012-10-31 05:59] andrewdanks commented on #57
I think it's okay if the caption doesn't align with the input, because it's already aligned with the box itself. Not being aligned with the title, though, looks funny.

[2012-10-31 06:04] #54 closed, assigned to slinlee

[2012-10-31 06:05] kmiyashiro opened #59 "Dev or debug mode"
We should have a dev/debug mode. Dev mode will load LESS and everything, prod will use minified CSS/JS.

[2012-10-31 06:09] andrewdanks opened #60 "Precompile LESS files"
Shouldn't compile LESS at runtime, makes the app look shitty for the first couple seconds of loading.

Server should automatically precompile it based on last-modified date. Pretty easy to do this node, so I'm assuming it's easy to do in sinatra, as well.

[2012-10-31 06:12] andrewdanks opened #61 "Interactive map on app startup - bug or feature?"
When initially loading the app, the map in the background is interactive, you can move it and all. And if your cursor is over it, and you scroll, it zooms in/out. Is this what we want? Can be a little annoying. Should be a static image?

[2012-10-31 06:50] andrewdanks opened #62 "Redis::CommandError - ERR max number of clients reached"
Am I the only one getting this? I doubt it, but it's breaking the elevation climb. And disabling redis fixes it.  It'd be easier if everyone had it installed on their environment so we didn't have to depend on redistogo's constraints.

So I'm going to disable redis caching for now?

The other option is just to "cache" the results in mongo, but it really wouldn't scale as well because there'd be no

[2012-10-31 07:09] andrewdanks opened #63 "Make climb count calculation more efficient"
Currently doing all the calculations to generate a plot when we're not doing a plot. Should only do the necessary calculations to calculate the climb.

[2012-10-31 07:09] #63 closed, assigned to nobody

[2012-10-31 07:22] andrewdanks commented on #62
Disabled redis for now

[2012-10-31 09:13] epan opened #64 "First segment in timeline should appear be "selected" when route is first returned"
It might help with timeline comprehension if when the user first requests a route, the first segment is shown as taller/selected in the timeline.

[2012-10-31 14:08] epan opened #65 "URGENT: Major layout bugs in Firefox"
It is unsuable in Firefox in the current prod state.
@dhchow @slinlee @kmiyashiro @andrewdanks @ericxtang can anyone figure out how to fix this?

[2012-10-31 16:57] slinlee opened #66 "Add page descriptions for SEO"

[2012-10-31 16:57] slinlee opened #67 "Update title with tagline"

[2012-10-31 16:58] #65 closed, assigned to kmiyashiro

[2012-10-31 16:59] epan commented on #52
Should be crawled by FB within 24 hours

[2012-10-31 16:59] #52 closed, assigned to andrewdanks

[2012-10-31 16:59] epan commented on #45
Good enough for now. Great job, team :)

[2012-10-31 16:59] #45 closed, assigned to nobody

[2012-10-31 17:01] epan commented on #8
I think we have a clean page now. Great start! :ok_hand:

[2012-10-31 17:01] #8 closed, assigned to kmiyashiro

[2012-10-31 17:02] slinlee commented on #67
< title > of webpage i mean.

[2012-10-31 17:02] slinlee opened #68 "redirect www.wigglemap.com to wigglemap.com"
This is still SEO best practice right?

[2012-10-31 17:05] #66 closed, assigned to nobody

[2012-10-31 17:13] epan commented on #67
Using "WiggleMap | Safe bike routes and maps with streetview" based on http://www.seomoz.org/learn-seo/title-tag

[2012-10-31 17:13] #67 closed, assigned to epan

[2012-10-31 17:13] andrewdanks commented on #68
I don't think it matters... At least this site doesn't think so http://seoroi.com/seo-faq/www-vs-non-www-seo-faq/

[2012-10-31 17:17] epan commented on #56
you're already assigned on https://github.com/cogsci/wigglemap/issues/53 which i created before this one.

[2012-10-31 17:17] #56 closed, assigned to nobody

[2012-10-31 17:21] epan commented on #43
Can you reproduce this bug? If so, let us know step by step, please. Thanks!

[2012-10-31 17:23] epan commented on #38
I think you duped yourself https://github.com/cogsci/wigglemap/issues/31 closing this

[2012-10-31 17:23] #38 closed, assigned to slinlee

[2012-10-31 17:24] epan commented on #55
@slinlee said "I think this is pretty important for getting a feeling for a route, and then later using it to actually go there."

[2012-10-31 17:24] epan commented on #58
marking this as dupe of https://github.com/cogsci/wigglemap/issues/55

[2012-10-31 17:24] #58 closed, assigned to epan

[2012-10-31 17:26] slinlee commented on #31
Hah, the issues looked the same, but one was to create the scale itself, and the other was to implement that to rate the sections of the route. This is fine though.

[2012-10-31 17:27] epan commented on #13
duplicate of https://github.com/cogsci/wigglemap/issues/7

[2012-10-31 17:27] #13 closed, assigned to epan

[2012-10-31 17:27] #6 closed, assigned to nobody

[2012-10-31 17:29] epan commented on #11
moving this info to https://github.com/cogsci/wigglemap/issues/53 and marking it as duplicate

[2012-10-31 17:29] #11 closed, assigned to epan

[2012-10-31 17:29] epan commented on #53
Older ideas:
- Drag the route to adjust.
- Click on the timeline to jump.
- Press play to preview the route.

[2012-10-31 17:36] epan opened #69 "Incorporate bike lane type data into safety score"

[2012-10-31 17:39] vickiheart commented on #43
It's fixed (sometime in between then and now, looks like something changed). Thanks!

[2012-10-31 17:39] #43 closed, assigned to nobody

[2012-10-31 17:39] slinlee commented on #68
That link says it matters in a particular case. Anyway, lets use a 301 permanent redirect to go to wigglemap.com

[2012-10-31 17:41] vickiheart commented on #49
I made one... it reminds me of Charlie Brown. Thoughts?

<img src="https://sphotos-a.xx.fbcdn.net/hphotos-ash4/384309_261836087272119_1698900672_n.png">

[2012-10-31 17:42] slinlee commented on #49
weeeeezer!

[2012-10-31 17:46] epan commented on #49
Looks pretty. now that we have a freakin' name and stuff, maybe we can all pitch in more on the logo design.

[2012-10-31 17:48] epan commented on #68
It says it matters only that you should'nt have it be possible to see
www.wigglemap.com AND wigglemap.com because spiders will see it as
duplicate content and you will SEO compete with yourself.

will this be important for stuff like google analytics etc where we need to
exclude the www. from goals etc?

On Wed, Oct 31, 2012 at 10:39 AM, slinlee notifications@github.com wrote:

##

Eric

[2012-10-31 19:18] slinlee opened #70 "Add some stuff about how we won a hackathon! booyah!"

[2012-10-31 19:51] slinlee opened #71 "Add favico resource"
Add favico resource. The current charlie brown one should be fine for now.

[2012-10-31 19:57] slinlee opened #72 "Add icon to be used when adding to iOS homescreen"
How to add one to your page:
http://developer.apple.com/library/ios/#documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html

Info about app icons (resolution and format)
http://developer.apple.com/library/ios/#documentation/UserExperience/Conceptual/MobileHIG/IconsImages/IconsImages.html#//apple_ref/doc/uid/TP40006556-CH14

[2012-10-31 19:58] slinlee opened #73 "Make our web app mobile friendly/responsive"
First starting off with design/layout/what it looks like on tablets and phones.

[2012-11-01 01:34] epan commented on #68
So right now we let people go to http://www.wigglemap.com OR http://wigglemap.com depending on what they type. THIS IS THE ONE EXCEPTION where it is NOT ok for SEO. So let's set up the 301 redirect to aways go to http://wigglemap.com whether they type the www or not.

[2012-11-01 01:47] epan opened #74 "Hide the footer/timeline area from the homepage"
It seems to confuse people into thinking there is more content below they can scroll down to but there isn't.

[2012-11-01 02:33] #71 closed, assigned to epan

[2012-11-01 02:33] #72 closed, assigned to epan

[2012-11-01 19:07] slinlee opened #75 "Update the readme"
Update the readme to help folks set up dev environments. or point them to the live version at http://wigglemap.com

facebook, twitter and g+

[2012-11-01 19:23] epan commented on #75
Maybe you should write it since you're the latest to set up the dev
environment

On Thu, Nov 1, 2012 at 12:07 PM, slinlee notifications@github.com wrote:

##

Eric

[2012-11-01 19:25] slinlee commented on #75
yeah. i'd be down to. just wanted to write it down first.

On Nov 1, 2012, at 12:23 PM, Eric Pan notifications@github.com wrote:

[2012-11-01 19:58] epan commented on #75
Good call

[2012-11-01 19:59] epan commented on #75
And then help me get set up haha

[2012-11-03 06:02] kmiyashiro commented on #68
www makes us look old and out of touch anyway.

[2012-11-03 06:21] kmiyashiro commented on #60
Someone please implement this http://ricostacruz.com/sinatra-assetpack/

[2012-11-04 02:54] #68 closed, assigned to ericxtang

[2012-11-04 20:13] epan opened #76 "Log the routes people are requesting"
Will be good for us to learn about users. Eg,
- How long is the average trip?
- Where are common start or end points?
- What time of day do they request these trips for?
- Do they do multi-segment trips? (A»B, then B»C)
- Do they want return directions to (A»B, then B»A)
- etc.

[2012-11-06 00:04] epan opened #77 "Total climb data should sum all the climbs"
Currently it seems to show the net climb. Does it make more sense to show the total amount of climbing to be done rather than the net climb minus the downhill? We got feedback wanting to see the sum climb and that's how Strava and other apps work, I believe.

@andrewdanks @slinlee @dhchow

[2012-11-06 19:39] andrewdanks commented on #77
Yeah, we can do this (kind of). If we continue to use Google Elevations API, then there's a limit to how accurate it can be, because all we can get are elevations at start and end points of some segment in the route, getting the total climb out of this assumes that there was no downhill between the two points.

Is there a more accurate way of calculating this?

[2012-11-06 19:39] andrewdanks commented on #77
And this isn't a bug, per se, but an enhancement.

[2012-11-06 19:41] slinlee commented on #77
For now it sounds fine to use the elevation from the start/end points of a
segment. Is it possible to split  segments more by asking for things like,
"from here to 100 ft towards the end of the segment" ?

On Tue, Nov 6, 2012 at 11:39 AM, Andrew Danks notifications@github.comwrote:

[2012-11-06 19:54] andrewdanks commented on #77
Hmm, not that I can think of. I don't know how we'd get the longitude/latitude coordinates of a point X ft away from another coordinate. Maybe it's a little possible if we also have the heading, but then we assume there are no turns in between. Sounds complicated, lol, or maybe I'm over thinking this.

[2012-11-07 01:57] epan commented on #77
How did the WSJ do it? I linked the blog post.

(mobile)

On Nov 6, 2012, at 11:54 AM, Andrew Danks notifications@github.com wrote:

[2012-11-24 21:22] kmiyashiro commented on #77
https://developers.google.com/maps/documentation/javascript/elevation

[2012-11-25 19:12] kmiyashiro opened #78 "/get_accident_counts call failing"
http://wigglemap.com/get_accident_counts returns 500

[code]

[2012-11-26 00:40] epan commented on #78
How do we fix it?

[2012-11-26 02:00] kmiyashiro commented on #78
Eric fixes it

On Nov 25, 2012, at 4:40 PM, Eric Pan notifications@github.com wrote:

[2012-12-04 23:10] epan opened #79 "Add in-page feedback"
Qualroo https://qualaroo.com/

Perhaps something like "Is this useful to you? (Y/N)" with follow-on "May we contact you to learn how to improve? [your e-mail address]"

[2013-09-28 20:38] kmiyashiro opened #80 "Hyperlapse button"
Create a hyperlapse video from route with a touch of a button.

https://github.com/TeehanLax/Hyperlapse.js

[2013-09-29 23:55] epan commented on #80
YES!!!

[2015-01-22 23:09] slinlee opened #81 "need logo"

[2015-01-22 23:10] #81 closed, assigned to nobody